* {
	padding: 0;
	margin: 0;

}

body {
	background-image: url(../imagens/Fotosjogos/fundo.webp);

}

#box1 {
	height: 2800px;
	width: 90%;
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
}

#box1 p{
	margin-left: 200px;
	margin-right: 230px ;
	margin-top: 70px;
	font-family: fantasy;
}

h1, h2, h3{
	text-align: center;
    color: black;
    margin-top: 40px;
    font-family: fantasy;
	font-size: 27px;
}



#img1, #img2, #img3, #img4 {
	margin-left: 200px;
	margin-top: 50px;
}



#fundoimg{
	z-index: -100;
}

#cabecalho {
    background-color: var(--color-02);
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    width: 100%;

}

#cabecalho #logo {
    width: 30px;
}

#cabecalho #menu ul {
    display: flex;
}

#cabecalho .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho #menu a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: all 0.3s linear;
}

#cabecalho #menu a:hover {
    background-color: var(--color-01);
}

#cabecalho #menu li {
    list-style: none;
}

#cabecalho #menu li .submenu {
    display: none;
    position: absolute;
    background-color: var(--color-02);
}

#cabecalho #menu li:hover .submenu {
    display: block;
}